:root.theme-dark {
  --accent-color: #ff0070;
  --header-color: #db00ff;
  --main-title-color: #ff0070;
  --ul-title-color: #000028;
  --text-color: #f1b2ce;
  --bg-color: hsl(240, 100%, 8%);
  --outline-color: #f1b2ce;
  --outline-hover-color: #ff007066;
  --decorated-color: #ff0070;
  --button-color: #ff0070;
  --background-image: url("../images/cover-image-dark.png");
}

.theme-dark .header__decorative-text {
  display: block;
}
