:root.theme-light {
  --accent-color: #ff8dcb;
  --header-color: #ffc2e6;
  --main-title-color: #353430;
  --ul-title-color: #353430;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --outline-color: #353430;
  --outline-hover-color: #32312d66;
  --decorated-color: #353430;
  --button-color: #353430;
  --background-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --header-color: #ffc2e6;
    --main-title-color: #353430;
    --ul-title-color: #353430;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --outline-color: #353430;
    --outline-hover-color: #32312d66;
    --decorated-color: #353430;
    --button-color: #353430;
    --background-image: url("../images/cover-image-light.png");
  }
}

.theme-light .header__decorative-text {
  display: none;
}
